/** INSERT CUSTOM SCSS STYLES HERE **/

/** colors **/
$bg-color: #F4F3F6;
$base-color: #FFFFFF;
$text-color: #1D1D1D;
$additional-color: #0F6EFF;

/** global **/
body {
    background-color: $bg-color;
    font-family: "Poppins";
    overflow-x: hidden;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

// h1 {
//     font-size: 48px;
// }

// h2 {
//     font-size: 38px;
// }

.bg__blur {
    position: absolute;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100vh;
    backdrop-filter: blur(5px);
    z-index: 10;
    transition: .1s right ease-in-out;
    z-index: 99;

    &.active {
        right: 0;
    }
}

.bg__elem {
    position: absolute;
    width: 817px;
    height: 857px;
    background-color: $base-color;
    border-radius: 0 0 60px 0;
    z-index: -1;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 162px;
        height: 162px;
        background-color: $bg-color;
        border-radius: 0 0 60px 0;
    }

    @media screen and (max-width: 1350px) {
        // width: 617px;

        &::after {
            width: 142px;
        }
    }

    @media screen and (max-width: 1150px) {
        &::after {
            width: 142px;
        }
    }
    @media screen and (max-width: 990px) {
        width: 100%;
    }

    @media screen and (max-width: 650px) {
        height: 720px;
    }
}




/** NAVBAR **/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 126px;
    padding: 0 120px 0 70px;
    

    &--left {
        display: flex;
        align-items: center;
        gap: 115px;

        .nav__logo {
            font-size: 24px;
            font-weight: 500;
            z-index: 102;
        }

        .nav__links {
            display: flex;
            gap: 47px;
            font-size: 14px;

            .nav__link {
                color: $text-color;
                text-decoration: none;
                position: relative;
                transition: .2s all ease-in-out;

                a {
                    text-decoration: none;
                    color: inherit;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -102%;
                    left: 50%;
                    width: 2px;
                    height: 20px;
                    background-color: $additional-color;
                    opacity: 0;
                    transition: .2s all ease-in-out;
                }

                &:hover {
                    color: $additional-color;
                    font-weight: 600;

                    &::after {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &--right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 14px;

        .nav__contact {
            color: #9F9F9F;

            span {
                color: $additional-color;
                margin-left: 9px;
            }
        }

        .nav__language {
            display: flex;
            align-items: center;
            gap: 6.5px;
            margin-left: 22px;

            p {
                span {
                    transform: rotate(90deg);
                }
            }
        }

        .nav__button {
            color: $additional-color;
            border: 1px solid $additional-color;
            padding: 13px 29px;
            border-radius: 21.5px;
            transition: .2s all ease-in-out;
            margin-left: 45.5px;

            &:hover {
                background-color: $additional-color;
                color: $base-color;
            }
        }
    }

    .nav__hamburger {
        width: 30px;
        height: 30px;
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        border: none;
        background: transparent;
        cursor: pointer;
        z-index: 111111;


        .line {
            height: 3px;
            width: 100%;
            background-color: $text-color;
            border-radius: 3px;
            transition: .2s;
        }

        &.active {
            .line {
                transition-delay: .1s;
            }

            .line:first-of-type {
                rotate: 45deg;
                translate: 0 6px
            }

            .line:nth-child(2) {
                opacity: 0;
            }

            .line:last-of-type {
                rotate: -45deg;
                translate: 0 -10px
            }
        }

        
    }

    @media screen and (max-width: 1150px) {
        padding: 0 40px;
        &--left {
            gap: 70px;

            .nav__links {
                gap: 30px;
            }
        }
    }

    @media screen and (max-width: 990px) {
        height: 80px;
        

        &--left {
            .nav__links {
                position: absolute;
                top: 0;
                left: -73%;
                width: 70%;
                height: 100vh;
                background: #9F9F9F;
                flex-direction: column;
                padding: 25% 0 10% 15%;
                border-radius: 0 0 60px 0;
                transition: .2s left ease-in-out;
                z-index: 100;

                .nav__link {
                    font-size: 20px;
                    color: $base-color;

                    &::after {
                        left: -10%;
                        bottom: 0;
                        top: 0;
                        height: 100%;
                    }
                }

            }
        }

        &--right {
            position: absolute;
            bottom: 0;
            left: -70%;
            width: 70%;
            height: 50vh;
            opacity: 0;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 20px;
            padding: 10% 0 10% 15%;
            transition: .2s opacity ease-in-out;
            transition-delay: .1s;
            z-index: 101;

            .nav__contact span, .nav__language, .nav__button {
                margin: 0;
            }

            .nav__contact, 
            .nav__language {
                color: $base-color;
            }

            .nav__language {
                img {
                    filter: invert(100%) sepia(0%) saturate(4784%) hue-rotate(39deg) brightness(106%) contrast(103%);
                }
            }
        }

        .nav__hamburger {
            display: flex;
        }

        &.active {
            .nav--left {
                .nav__links {
                    left: 0;
                }
            }

            .nav--right {
                left: 0;
                opacity: 1;
            }
        }
    }

    @media screen and (max-width: 550px) {
        .nav--right {
            bottom: 50px;
            padding-left: 50px;
            font-size: 14px;
        }

        &--left {
            .nav__links {
                padding-left: 50px;
                .nav__link {
                    font-size: 16px;
                }
            }
        }
    }

    @media screen and (max-width: 300px) {
        .nav--right {
            bottom: 70px;
            padding-left: 30px;
            font-size: 12px;
        }

        &--left {
            .nav__links {
                padding-left: 30px;
                .nav__link {
                    font-size: 14px;
                }
            }
        }
    }
}


/** HERO SECTION **/
.hero {
    position: relative;
    height: 731px;
    margin: 0 120px 0 162px;
    padding-top: 80px;

    &__text {
        max-width: 574px;

        h1 {
            max-width: 460px;
            font-size: 48px;
            font-weight: 600;
            line-height: 63px;
        }

        p {
            font-size: 18px;
            letter-spacing: 0.07px;
            line-height: 22px;
            color: #1D1D1D;
            opacity: 0.6;
            margin-top: 34px;
        }
    }

    &__cta {
        margin-top: 75px;
        display: flex;
        align-items: center;
        gap: 20px;
        

        .hero__button {
            position: relative;
            width: 138px;
            height: 138px;
            border: 2px solid $additional-color;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .1s ease-in-out all;
            cursor: pointer;
            z-index: 12;

            img {
                translate: 22% 0;
                transition: scale .1s ease-in-out;
            }

            .line {
                content: '';
                position: absolute;
                top: 50%;
                right: 73%;
                width: 200px;
                height: 2px;
                background-color: $additional-color;
                transition: right .1s ease-in-out;
            }

            &:hover {
                img {
                    scale: 1.2;
                }  

                .line {
                    right: 31%;
                }
            }
        }

        p {
            width: 118px;
            font-size: 18px;
            letter-spacing: 0.07px;;
            line-height: 22px;
            color: $additional-color;
            z-index: 12;

            span {
                text-decoration: underline;
            }
        }
    }

    &__rectangles {
        position: absolute;
        background-color: #9F9F9F;
        z-index: 10;
    }

    .rect1 {
        width: 470px;
        height: 299px;
        bottom: 91px;
        right: 337px;
        border-radius: 60px 60px 60px 0;
    }

    .rect2 {
        width: 307px;
        height: 390px;
        bottom: 0;
        right: 0;
        border-radius: 60px 60px 0 60px;
    }

    .rect3 {
        width: 389px;
        height: 267px;
        right: 0;
        bottom: 414px;
        border-radius: 60px 0 60px 60px;
    }

    .ellipse1 {
        position: absolute;
        right: -55px;
        bottom: 114px;
    }

    @media screen and (max-width: 1365px) {

        .rect1 {
            width: 329px;
        }
    }

    @media screen and (max-width: 1240px) {
        
        .rect1 {
            width: 279px;
            right: 300px;
        }
        
        .rect2 {
            width: 270px;
        }

        .rect3 {
            width: 308px;
        }
    }

    @media screen and (max-width: 1150px) {
        margin: 0 40px;

        &__text {
            h1 {
                font-size: 42px;
            }

            p {
                font-size: 14px;
            }
        }

        .rect1 {
            width: 279px;
            right: 307px;
        }
        
        .rect2 {
            width: 270px;
        }

        .rect3 {
            width: 308px;
        }
    }

    @media screen and (max-width: 990px) {
        margin-top: 46px;
    }

    @media screen and (max-width: 950px) {
        height: 581px;

        &__text {
            max-width: 504px;

            h1 {
                max-width: 400px;
            }
        }

        .rect1 {
            width: 240px;
            height: 190px;
            bottom: 60px;
            right: 220px;
        }
        
        .rect2 {
            width: 200px;
            height: 250px;
        }

        .rect3 {
            width: 238px;
            height: 208px;
            bottom: 270px;
        }
    }

    @media screen and (max-width: 830px) {
        height: 600px;
        display: flex;
        justify-content: flex-start;

        &__cta {
            margin-top: 40px;
            height: 138px;
            align-items: center;
        }

        .rect1 {
            width: 200px;
            height: 160px;
            bottom: 90px;
            left: 0;
        }
        
        .rect2 {
            width: 180px;
            height: 250px;
            left: 220px;
        }

        .rect3 {
            width: 238px;
            height: 170px;
            bottom: 80px;
            left: 420px;
        }
    }

    @media screen and (max-width: 760px) {
        &__text {
            max-width: 500px;
            h1 {
                font-size: 36px;
                max-width: 290px;
            }

            p {
                font-size: 12px;
            }
        }

        &__cta {
            margin-top: 0;
            .hero__button {
                width: 118px;
                height: 118px;

                .line {
                    width: 50px;
                }
            }

            p {
                font-size: 14px;
            }
        }

        .rect1 {
            width: 165px;
        }
        
        .rect2 {
            width: 150px;
            height: 250px;
            left: 180px;
        }

        .rect3 {
            width: 196px;
            height: 170px;
            bottom: 80px;
            left: 350px;
        }
    }

    @media screen and (max-width: 650px) {
        flex-direction: column;
        
        &__text {
            max-width: 100%;

            h1 {
                max-width: 60%;
            }

            p {
                font-size: 14px;
            }
        }

        &__cta {
            margin-top: 40px;
            gap: 40px;

            p {
                font-size: 18px;
            }

            .hero__button {
                .line {
                    width: 100px;
                }
            }
        }

        .rect1 {
            width: 141px;
            height: 100px;
            right: 220px;
            left: unset;
            bottom: 525px;
            border-radius: 0 60px 60px 60px;
        }
        
        .rect2 {
            width: 177px;
            height: 116px;
            left: unset;
            right: 26px;
            bottom: 393px;
            border-radius: 60px 60px 0 60px;
        }

        .rect3 {
            width: 196px;
            height: 117px;
            bottom: 525px;
            left: unset;
            right: 7px;
            border-radius: 60px 0 60px 60px;
        }
    }

    @media screen and (max-width: 560px) {
        &__text {
            h1 {
                font-size: 31px;
                line-height: 41px;
            }

            p {
                font-size: 12px;
            }
        }
    }

    @media screen and (max-width: 520px) {
        .rect3 {
            width: 150px;
            right: -15px;
        }

        .rect2 {
            width: 131px;
            height: 96px;
            left: unset;
            right: -15px;
            bottom: 418px;
        }

        .rect1 {
            width: 141px;
            height: 100px;
            right: 145px;
            left: unset;
            bottom: 525px;
            border-radius: 0 60px 60px 60px;
        }
    }

    @media screen and (max-width: 400px) {
        &__text {
            h1 {
                margin-top: 20px;
                font-size: 24px;
                line-height: 35px;
            }

            p {
                font-size: 12px;
            }
        }

        &__cta {
            margin-top: 20px;
        }
    }

    @media screen and (max-width: 355px) {
        padding-top: 20px;
        margin: 0 20px;

        &__text {
            width: 100%;
            max-width: 100%;

            h1 {
                margin: 0;
                width: 100%;
                max-width: 100%;
            }
        }

        &__rectangles {
            display: none;
        }
    }
}

/** BLOG SECTION **/
.blog {
    position: relative;
    margin: 54px 120px 115px 196.5px;

    .blog__ellipse {
        position: absolute;
        top: -160px;
        right: 5px;
        z-index: 12;
    }

    &__heading {
        h3 {
            font-size: 14px;
            letter-spacing: 0.7px;
            color: $additional-color;
        }

        h2 {
            font-size: 36px;
            font-weight: 600;
            position: relative;
            width: fit-content;

            &::after {
                content: '';
                position: absolute;
                bottom: 50%;
                right: -283px;
                width: 220px;
                height: 2px;
                background-color: $additional-color;
            }
        }
    }

    &__items {
        position: relative;
        margin-top: 77px;
        display: flex;
        gap: 48px;

        .blog__item {
            width: 290px;
            min-width: 290px;
            height: 360px;
            border-radius: 40px 40px 0 40px;
            background-color: $base-color;
            padding: 38px 41px;

            .secondary {
                display: flex;
                align-items: center;
                gap: 19.5px;
                margin-bottom: 25.5px;

                .circle {
                    width: 50px;
                    height: 50px;
                    background-color: #9F9F9F;
                    border-radius: 50%;
                }

                h3 {
                    font-size: 14px;
                    font-weight: 600;
                    margin-bottom: 5px;
                }

                p {
                    font-size: 14px;
                    opacity: .7;
                }
            }

            hr {
                color: #1D1D1D;
                opacity: .1;
                margin-bottom: 21px;
            }

            .blog__description {
                margin-bottom: 10px;

                .top {
                    font-size: 14px;
                    font-weight: medium;
                    margin-bottom: 16px;
                }

                .bottom {
                    font-size: 12px;
                    opacity: .7;
                }
            }

            button {
                font-size: 12px;
                
                a {
                    color: $additional-color;
                }
            }
        }

        .blog__item--highlighted {
            position: relative;
            background-color: #1D1D1D;
            color: $base-color;

            header {
                margin-bottom: 24.5px;
                h3 {
                    font-size: 14px;
                    font-weight: 600;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 14px;
                    opacity: .7;
                }
            }

            .blog__description {
                margin-bottom: 61px;
                font-size: 18px;
                font-weight: 500;
                line-height: 29px;
                max-width: 170px;
            }
            
            button {
                position: relative;
                width: 59px;
                height: 59px;
                font-size: 12px;
                border: 1px solid $base-color;
                border-radius: 50%;
                color: $base-color;

                span {
                    text-decoration: underline;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 50%;
                    left: -233px;
                    width: 220px;
                    height: 1px;
                    background-color: $base-color;
                }
            }

            .circle {
                position: absolute;
                top: 0;
                left: -75px;
                width: 100px;
                height: 100px;
                background: $base-color;
                border-radius: 50%;
                z-index: -1;
            }
        }

        .ellipse3 {
            position: absolute;
            top: 0;
            right: -93px;
            z-index: -1;
        }
    }
}