/** BLOG SECTION **/
.blog {
    position: relative;
    margin: 54px 120px 115px 196.5px;

    .blog__ellipse {
        position: absolute;
        top: -160px;
        right: 5px;
        z-index: 12;
    }

    &__heading {
        h3 {
            font-size: 14px;
            letter-spacing: 0.7px;
            color: $additional-color;
        }

        h2 {
            font-size: 36px;
            font-weight: 600;
            position: relative;
            width: fit-content;

            &::after {
                content: '';
                position: absolute;
                bottom: 50%;
                right: -283px;
                width: 220px;
                height: 2px;
                background-color: $additional-color;
            }
        }
    }

    &__items {
        position: relative;
        margin-top: 77px;
        display: flex;
        gap: 48px;

        .blog__item {
            width: 100%;
            max-width: 290px;
            height: 360px;
            border-radius: 40px 40px 0 40px;
            background-color: $base-color;
            padding: 38px 41px;

            .secondary {
                display: flex;
                align-items: center;
                gap: 19.5px;
                margin-bottom: 25.5px;

                .circle {
                    width: 50px;
                    height: 50px;
                    background-color: #9F9F9F;
                    border-radius: 50%;
                }

                h3 {
                    font-size: 14px;
                    font-weight: 600;
                    margin-bottom: 5px;
                }

                p {
                    font-size: 14px;
                    opacity: .7;
                }
            }

            hr {
                color: #1D1D1D;
                opacity: .1;
                margin-bottom: 21px;
            }

            .blog__description {
                margin-bottom: 10px;

                .top {
                    font-size: 14px;
                    font-weight: 500;
                    margin-bottom: 16px;
                }

                .bottom {
                    font-size: 12px;
                    opacity: .7;
                }
            }

            button {
                font-size: 12px;
                
                a {
                    color: $additional-color;
                }
            }
        }

        .blog__item--highlighted {
            position: relative;
            background-color: #1D1D1D;
            color: $base-color;

            header {
                margin-bottom: 24.5px;
                h3 {
                    font-size: 14px;
                    font-weight: 600;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 14px;
                    opacity: .7;
                }
            }

            .blog__description {
                margin-bottom: 61px;
                font-size: 18px;
                font-weight: 500;
                line-height: 29px;
                max-width: 170px;
            }
            
            button {
                position: relative;
                width: 59px;
                height: 59px;
                font-size: 12px;
                border: 1px solid $base-color;
                border-radius: 50%;
                color: $base-color;

                span {
                    text-decoration: underline;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 50%;
                    left: -233px;
                    width: 220px;
                    height: 1px;
                    background-color: $base-color;
                }
            }

            .circle {
                position: absolute;
                top: 0;
                left: -75px;
                width: 100px;
                height: 100px;
                background: $base-color;
                border-radius: 50%;
                z-index: -1;
            }
        }

        .ellipse3 {
            position: absolute;
            top: 0;
            right: -93px;
            z-index: -1;
        }
    }

    @media screen and (max-width: 1240px) {
        margin: 54px 120px 115px 120px;
    }

    @media screen and (max-width: 1150px) {
        margin: 54px 40px 115px 40px;

        &__items {
            .blog__item--highlighted {
                .circle {
                    top: -30px;
                    left: -20px;
                    z-index: 1;
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }

    @media screen and (max-width: 990px) {
        &__items {
            gap: 30px;

            .blog__item {
                padding: 30px;
            }
        }
    }

    @media screen and (max-width: 950px) {
        margin: 100px 40px 115px 40px;
    }

    @media screen and (max-width: 830px) {
        &__items {
            gap: 20px;

            .blog__item {
                height: 300px;

                header.secondary {
                    margin-bottom: 15px;
                }

                hr {
                    margin-bottom: 10px;
                }

                h3 {
                    font-size: 12px !important;
                }

                p.blog__description {
                    max-width: 230px;
                    font-size: 14px;
                    margin-bottom: 20px;
                }

                p.top {
                    font-size: 12px !important;
                }

                p.bottom {
                    font-size: 10px !important;
                }
            }
        }
    }

    @media screen and (max-width: 760px) {
        &__heading {
            h2 {
                font-size: 30px;
            }
        }

        &__items {
            flex-wrap: wrap;
            margin-left: 40px;

            .blog__item {
                width: 80%;
                max-width: none;
                height: 280px;

                h3 {
                    font-size: 14px !important;
                }

                p.blog__description {
                    max-width: 230px;
                    font-size: 16px;
                    margin-bottom: 30px;
                }

                p.top {
                    font-size: 14px !important;
                }

                p.bottom {
                    font-size: 12px !important;
                }
            }
        }

        .blog__ellipse {
            width: 60%;
        }
    }

    @media screen and (max-width: 650px) {
        margin-top: 60px;

        .blog__heading h2::after {
            right: -178px;
            width: 143px;
        }
    }

    @media screen and (max-width: 560px) {
        .blog__heading h2 {
            font-size: 25px;

            &::after {
                width: 120px;
            }
        }

        &__items {
            margin-left: 0;
            gap: 20px;
            .blog__item {
                width: 100%;
                max-width: none;
            }

            .blog__ellipse {
                top: -250px;
            }
        }
    }

    @media screen and (max-width: 355px) {
        margin: 100px 20px 115px 20px;
    }
}