<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kamil Staliński</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="bg__blur"></div>
        <div class="bg__elem"></div>
        <nav class="nav">
            <div class="nav--left">
                <h2 class="nav__logo">Logo</h2>
                <div class="nav__links">
                    <a href="#" class="nav__link">Home</a>
                    <a href="#" class="nav__link">About</a>
                    <a href="#" class="nav__link">Services</a>
                    <a href="#" class="nav__link">Pages</a>
                </div>
            </div>
            <div class="nav--right">
                <p class="nav__contact">Call Us: <span>+48 123 456 789</span></p>
                <div class="nav__language">
                    <p>EN</p>
                    <img src="../img/Arrow.png" alt="image">
                </div>
                <button class="nav__button">Contact Us</button>
            </div>
            <div class="nav__hamburger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </nav>
        <header id="hero">
            <div class="hero__text">
                <h1>Lorem ipsum dolor sit amet</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis leo ut felis vestibulum cursus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;</p>
            </div>
            <div class="hero__cta">
                <button class="hero__button">
                    <img src="../img/play.png" alt="play">
                    <div class="line"></div>
                </button>
                <p><span>Watch</span> demo video</p>
            </div>
            <img src="../img/rectangles.svg" alt="rectangles" class="hero__rectangles">
        </header>
    </div>
</body>
</html>