<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kamil Staliński</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="bg__elem"></div>
        <nav class="nav">
            <div class="nav--left">
                <h2 class="nav__logo">Logo</h2>
                <div class="nav__links">
                    <a href="#" class="nav__link">Home</a>
                    <a href="#" class="nav__link">About</a>
                    <a href="#" class="nav__link">Services</a>
                    <a href="#" class="nav__link">Pages</a>
                </div>
            </div>
            <div class="nav--right">
                <p class="nav__contact">Call Us: <span>+48 123 456 789</span></p>
                <div class="nav__language">
                    <p>EN</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12.707" height="6.707" viewBox="0 0 12.707 6.707">
                        <g id="Arrow_Icon" data-name="Arrow Icon" transform="translate(0.354 0.354)">
                          <path id="Line_2" data-name="Line 2" d="M.5.5l6,6Z" transform="translate(-0.5 -0.5)" fill="none" stroke="#1d1d1d" stroke-linecap="round" stroke-width="1"/>
                          <path id="Line_3" data-name="Line 3" d="M12.5.5l-6,6Z" transform="translate(-0.5 -0.5)" fill="none" stroke="#1d1d1d" stroke-linecap="round" stroke-width="1"/>
                        </g>
                    </svg>
                </div>
                <button class="nav__button">Contact Us</button>
            </div>
        </nav>
        <header>
            <!-- <img src="" alt=""> -->
        </header>
    </div>
</body>
</html>